.navbar {
  grid-area: header;
  background-color: #131921 !important;
}

.header_logo {
  grid-area: header;
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 2px;
}

.navbar-brand:hover {
  color: white;
}

.dropdown-menu,
.dropdown-item {
  background-color: #131921 !important;
  color: #2196f3 !important;
}
