* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Allerta Stencil";
  font-size: 16px;
}
body {
  margin: 0; /*
  height: 100vh;
  font-size: 1.6rem;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/*Layout*/
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  /*grid-template-columns: 1fr;*/
  /*grid-template-rows: 5rem 1fr 5rem;*/
  height: 100%;
}

.navbar {
  grid-area: header;
  background-color: #131921 !important;
}

.header_logo {
  grid-area: header;
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 2px;
}
.nav-item {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #2196f3;
  text-transform: uppercase;
}
.nav-item:hover {
  color: #235784;
  background: #2196f3 !important;
  box-shadow: 0 0 15px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3 !important;
  border-radius: 8px;
}
.navbar-brand:hover {
  color: white;
}

main {
  grid-area: main;
  padding: 1rem;
}

.rating span {
  color: gold !important;
  margin: 0.1rem;
}
.rating span:last-child {
  color: black !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.img {
  border-radius: 0.5rem;
}
.img.medium {
  max-width: 29rem;
  width: 100%;
}
.img.large {
  width: 100%;
}
.card {
  border: 1rem #131921;
  background-color: blue;
  border-radius: 0.5rem;
  margin: 1rem;
  text-decoration: none;
}
.card.body {
  padding: 1rem;
}
.card.body > * {
  margin-bottom: 1rem;
}
footer {
  grid-area: footer;
  background-color: #131921;
  color: #2196f3;
}

footer a {
  text-decoration: none;
  color: #2196f3;
}

footer p {
  text-decoration: none;
  color: #2196f3;
}

footer i:hover {
  color: #235784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  border-radius: 5px;
}

footer a:hover {
  text-decoration: none;
  color: #235784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  border-radius: 5px;
}

.alert {
  display: table;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 1.5rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: blue;
  background-color: white;
}
.alert-danger {
  color: red;
  background-color: white;
}
